* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dadada;
    color: #2C3E50;
}

header {
    background-color: royalblue;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

header h1 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.form-container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #B3C8CF;
}

.titulo-form {
    margin-bottom: 10px;
    color: #999;
}

footer {
    background-color: royalblue;
    padding: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    border-top: 2px solid #B3C8CF;
}

.usuario {
    color: white;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.sessao-form {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.85rem;
}

.linha {
    flex-direction: row;
    gap: 15px;
}

.sessao {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline-color: royalblue;
}

.checkbox-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    font-size: 0.9rem;
}

.checkbox-group label {
    font-weight: normal;
    cursor: pointer;
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    filter: brightness(0.9);
}